<div class="settings">
  <h2>{{ t.masterDataSettings }}</h2>

  <section>
    <h3>{{ t.categories }}</h3>
    <ul>
      @for (item of categories; track item; let i = $index) {
        <li>
          <span>{{ item }}</span>
          <button (click)="deleteItem('categories', i)">{{ t.delete }}</button>
        </li>
      }
    </ul>
    <div class="add-row">
      <input [(ngModel)]="newCategory" [placeholder]="t.newCategory" />
      <button (click)="addItem('categories', newCategory)">{{ t.add }}</button>
    </div>
  </section>

  <section>
    <h3>{{ t.paymentMethods }}</h3>
    <ul>
      @for (item of paymentMethods; track item; let i = $index) {
        <li>
          <span>{{ item }}</span>
          <button (click)="deleteItem('paymentMethods', i)">{{ t.delete }}</button>
        </li>
      }
    </ul>
    <div class="add-row">
      <input [(ngModel)]="newPaymentMethod" [placeholder]="t.newPaymentMethod" />
      <button (click)="addItem('paymentMethods', newPaymentMethod)">{{ t.add }}</button>
    </div>
  </section>

  <section>
    <h3>{{ t.billingMethods }}</h3>
    <ul>
      @for (item of billingMethods; track item; let i = $index) {
        <li>
          <span>{{ item }}</span>
          <button (click)="deleteItem('billingMethods', i)">{{ t.delete }}</button>
        </li>
      }
    </ul>
    <div class="add-row">
      <input [(ngModel)]="newBillingMethod" [placeholder]="t.newBillingMethod" />
      <button (click)="addItem('billingMethods', newBillingMethod)">{{ t.add }}</button>
    </div>
  </section>
</div>
